@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/* Reusable Classes */
.input-text{
    border: none;
    border-bottom: 1px solid #FFF;
    color: #FFF;
    background: none;
    outline: none;
}

.input-text:focus {
    border-bottom: 2px solid #FFF;
}

.input-text::-webkit-input-placeholder{
    color: #EEEEEE;
}

/* END of Reusable Classes */

* {
    box-sizing: border-box;
}

.header{
    background-color: #2574A9;
    height: 50px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.header-menu{
    font-size: 32px;
    color: #FFF;
    cursor: pointer;
    float: left;
    margin-left: 12px;
}

.header-search{
    margin: 12px 12px 0 0;
    float: right;
    font-size: 18px;
}

.search-section{
    float:right;
}

.search-icon{
    color: #FFF;
    font-size: 18px !important;
    position:relative;
    right:6px;
    top: 12px;
}


.nav-menu{
    position: absolute;
    width: 250px;
    height: 100%;
    z-index: 5;
    background-color: #FFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    left:-250px;
}

.nav-background-cover{
    position: absolute;
    width:100%;
    height:100%;
    background-color: #000;
    opacity: 0;
    z-index: 4;
    display: none;
}
.nav-link{
    float:left;
    width: 226px;
    padding: 12px;
    cursor: pointer;
}

.nav-link:hover{
    background-color: #DADFE1;
}

.first-link{
    margin-top: 50px;
}

.menu-link{
    text-decoration: none;
    font-weight: 600;
    color: #000;
    margin-left: 28px;
}

.read-state {
  display: none;
}

.read-target {
  opacity: 0;
  font-size: 0;
}

.read-state:checked ~ .read-more .read-target {
  opacity: 1;
  font-size: inherit;
}

.read-state ~ .read-clicked:before {
  content: 'Read More';
}

.read-state:checked ~ .read-clicked:before {
  content: 'Read Less';
}

.read-clicked {
  display: inline-block;
  padding: 0 9px;
  font-size: 15px;
  line-height: 2;
}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-bechdel"] {
        width: 100%;
    }


[class*="col-bechdel"] {
    float: left;
    padding: 15px;
}



.vid-container {
    position: relative;
    padding-bottom: 50%;
    padding-top: 35px; height: 0; overflow: hidden;
}

.vid-container iframe,
.vid-container object,
.vid-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

}

hr{
    width: 100%;
    height: 2px;
}

h2{
    text-align: center;
}
