<footer>
 <a  style="text-decoration: none; color: #FFF;" href="bechdel.html">
      <div class="footer-content">
          <div class="content-title">WHAT IS BECHDEL TEST</div>
          <div class="content-body">We use the bechdel test for all our reviews, learn more here.</div>
      </div>
  </a>
  <div class="footer-links">
      <div class="links-title">LINKS</div>
      <div class="links-body"></div>
  </div>
  <div class="footer-copyright">&#169; 2017 Copyright <b>Team 91</b></div>
</footer>
