<div class="header">
  <div class="header-menu">&#9776;</div>
  <div class="header-logo"></div>
  <div class="header-links">
      <a class="header-link" href="index.html">Home</a>
      <a class="header-link" href="reviewslist.html">Recent Reviews</a>
      <a class="header-link" href="about.html">About</a>
  </div>
  <div class="search-section">
      <i class="fa fa-search search-icon"></i>
      <input type="text" class="input-text header-search" placeholder="Search"/>
  </div>
    <div class="nav-menu">
      <a href="index.html">
       <div class="nav-link first-link">
           <i class="fa fa-home selected-link" style="color:#000;" aria-hidden="true"></i><span class="menu-link">Home</span>
        </div>
        </a>
        <a href="reviewslist.html">
        <div class="nav-link">
           <i class="fa fa-list" style="color:#000;" aria-hidden="true"></i><span class="menu-link">Recent Reviews</span>
       </div>
        </a>
        <a href="about.html">
        <div class="nav-link">
           <i class="fa fa-list" style="color:#000;" aria-hidden="true"></i><span class="menu-link">About</span>
       </div>
        </a>
    </div>
    <div class="nav-background-cover"></div>
</div>

<script src="js/drawer.js"></script>
<script src="https://use.fontawesome.com/3099d34db7.js"></script>


