<div class="header">
  <div class="header-menu">&#9776;</div>
  <div class="header-logo"></div>
  <div class="search-section">
      <i class="fa fa-search search-icon"></i>
      <input type="text" class="input-text header-search" placeholder="Search"/>
  </div>
    <div class="nav-menu">
       <div class="nav-link first-link">
           <i class="fa fa-home selected-link" aria-hidden="true"></i><a class="menu-link" href="index.html">Home</a>
        </div>
        <div class="nav-link">
           <i class="fa fa-list" aria-hidden="true"></i><a class="menu-link" href="#">Recent Reviews</a>
       </div>
    </div>
    <div class="nav-background-cover"></div>
</div>

<script src="js/drawer.js"></script>
<script src="https://use.fontawesome.com/3099d34db7.js"></script>


